@media only screen and (max-width: 650px) {
    nav{
        display: none;}

}


header {

    >nav {
        display: grid;
        grid-auto-flow: row;
        justify-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
}


#div_indexheader {
    display: grid;
    place-items: center;
    background-color: black;
    justify-content: center;
    align-items: start;

    >#img_header {
        width: 45%;
        height: 100%;
        place-items: center;
    }
}

label{
    background-color: black;
}




#home_index{
background-color: rgb(255,255,255);
    padding: 15px;
    min-width: 20vw;
    
    >h1{
        color: black;
        font-size: medium;
        text-decoration: underline;
    }
}


#menu_index{ 
    background-color:rgb(238,174,43);
    padding: 15px;
    min-width: 20vw;

    >h1{
        color: black;
        font-size: medium;
        text-decoration: underline;
    }
}

#reservations_index{
    background-color: rgb(255,107,6);
    padding: 15px;
    min-width: 20vw;

    >h1{
        color: black;
        font-size: medium;
        text-decoration: underline;
    }
}

#aboutUs_index{
    background-color:rgb(35,50,69);
    padding: 15px;
    min-width: 20vw;
    
    >h1{
        color: black;
        font-size: medium;
        text-decoration: underline;
    }
}




a:hover{
    box-shadow: 5px 5px 5px;
color: rgba(255, 255, 255, 0.397);
}