header {

    >nav {
        display: grid;
        grid-auto-flow: row;
        justify-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


#div_indexheader {
    display: grid;
    place-items: center;
    background-color: black;

    >#img_header {
        width: 20%;
        height: 100%;
        place-items: center;
    }
}
