@media only screen and (min-width: 650px) {
    #menu_main {
        display: grid;
        grid-template-columns: 1fr 1fr  ;

    }

    #tablet_number {
        display: block;
    }

    #mobile_number {
        display: none;
    }


    main {
        display: grid;
      
    }

    .index_imgs {
        max-width: 40vw;
    }

.menu_img{
   max-width: 420px;
    max-height: 420px;
    object-fit: fill;
}


#index_maincontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#main_img{
    width: 80vw;
}



}