@media only screen and (min-width: 650px) {
    #menu_main {
        display: grid;
        grid-template-columns: 1fr 1fr  ;

    }

    #tablet_number {
        display: block;
    }

    #mobile_number {
        display: none;
    }


    main {
        display: grid;
      
    }

    .index_imgs {
        max-width: 40vw;
    }

.menu_img{
   max-width: 420px;
    max-height: 420px;
    object-fit: fill;
}

#div_indexheader{
    justify-content: start;
}

#index_maincontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#main_img{
    width: 80vw;
}

nav{
    display: block;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    padding: 20px;
}





#hamburger_menu {
    display: none;
}

#arrowleft {
    display: none;
}

.menu_radio_button {
    display: none;
}

#mobile_menu {
    display: none;
    opacity: 0;
}

#menu_open:checked~#mobile_menu {
    display: none;
}

#menu_header {
    display: none;
}


#mobile_header {
    display: none;
}

.slide_menu{
    display: none;
}



}