@use "../general";
@use "../footer";
@use "../header";

$Main-Font-Color: rgb(255, 255, 255);


body {
    background-image: url(/indexPictures/Backgroundindex.webp);
}


/* Code above is for header of the page */


>img {
    width: 80%;
    height: 60vh;
    place-self: center;
    border-radius: 10%;

}

#fancysteakplate {
    display: grid;

    >img {
        width: 80%;
        height: 40vh;
        place-self: center;
        border-radius: 10%;

    }

}



main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    ;
    grid-template-columns: 1fr;
    gap: 60px;
}
    
h2 {
        color: rgba(150, 148, 145, 0.486);
        text-align: center;
        margin-top: 70px;
    }


.main_div {

    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
    padding-bottom: 30px;

    >h3{
        margin-top: 40px;
         color: $Main-Font-Color;
    }

    >img {
        width: 90%;
        height: 90%;
        align-self: center;
        justify-self: center;
        border-radius: 10%;
    }
}


/* Above is content for the main */


iframe{
        width: 100%;
        height: 50vh;
    }   



section{
    background-color: white;
    text-align: center;
    padding-bottom: 30px;
    >a{

    }
}

h1{
    padding: 30px;
    text-decoration: underline;
}

/* above is the section and footer */