@use "../general";
@use "../footer";
@use "../header";
@use "../tablet";
@use "../mobile";

$Main-Font-Color: rgb(255, 255, 255);


body {
    background-image: url(/indexPictures/Backgroundindex.webp);
}



>img {
    width: 80%;
    height: 60vh;
    place-self: center;
    border-radius: 10%;

}

#fancysteakplate {
    display: grid;
    margin-top: 5vh;

    >img {

        place-self: center;
        border-radius: 10%;
        width: 80vw;
    }

}


main {
    display: grid;
    grid-column: 1fr;
    align-self: center;
    gap: 60px;
    justify-self: center;
}

h2 {
    color: rgba(150, 148, 145, 0.486);
    text-align: center;
    margin-top: 70px;
}


.main_div {

    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
    padding-bottom: 30px;

    >h3 {
        margin-top: 40px;
        color: $Main-Font-Color;
    }

    >img {
        width: 80vw;
        height: 40vh;
        align-self: center;
        justify-self: center;
        border-radius: 10%;
    }
}


/* Above is content for the main */


iframe {
    width: 100%;
    height: 50vh;
}


#spacing {
    padding: 1.1in;
    display: hidden;
}


