@use "../general";
@use "../footer";
@use "../header";
@use "../tablet";
@use "../mobile";





#section1 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    margin-bottom: 15vh;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    margin-bottom: 15vh;
    gap: 40px;
}

.menutitle {
    display: grid;
    grid-template-columns: 1fr;
    align-self: end;
    justify-self: center;
    color: white;
    margin: 20px 0px 25px 0;
}

#section2 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    margin-bottom: 20vh;

}

#section_sides {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    margin-bottom: 20vh;
}


.price {
    margin-bottom: 10px;
}



.food_title {
    margin-top: 35px;
}

.container{
    display: grid;
    place-items: center;
}

    .menu_img {
        max-width: 80%;
        height: 25vh;
        align-self: start;
    }

    p {
        font-size: .7em;
    }

    .food_name {
        margin: 20px 0 10px 0;
    }

    .food_price {
        margin: 20px 0 80px 0;
        font-weight: bold;
    }



.container {
    color: white;
}

.container {
    text-align: center;
}
