@use "../general";
@use "../footer";
@use "../header";


#menu_nav{


    >#App{
       
    }
    >#Mains{


    }

    >#Sides{

    }

    >#Desserts{

    }
}

h1{
    text-align: center;
    padding: 40px;
}

#section1{
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    
}

main{
    display: grid;
    grid-template-columns: 1fr ;
}

.menutitle{
    display: grid;
    grid-template-columns: 1fr;
    align-self: end;
    justify-self: center;
    color: white;
}

#section2{
    display: grid;
    grid-template-columns: 1fr ;
    margin: 20px;
    
}

p{
    padding: 5px;
}

.price{
    margin-bottom:  10px;
}



.food_title{
    margin-top: 35px;
}




// .container:hover .overlay{
//     opacity: .3;
// }

// .overlay{
//     background-color: gray;
//     transition: 1s ease;
//     opacity: 0;
//     position: absolute;

    
    
// }

// img{
//     display: block;
//   width: 60%;
// }


