* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: grid;
  min-height: 100vh;
  width: 100%;
}

img {
  width: 100%;
}

body {
  background-image: url(/indexPictures/Backgroundindex.webp);
}

footer {
  padding: 40px;
  background-color: black;
}
footer > p {
  color: white;
  text-align: center;
  font-size: 0.8em;
}

section {
  background-color: white;
  text-align: center;
  padding-bottom: 30px;
}
.visitus {
  padding: 30px;
  text-decoration: underline;
  text-align: center;
}

#section_contactus {
  width: 20px;
  height: 5px;
  padding: 5px;
  border: 2px solid rgb(0, 0, 0);
  box-sizing: border-box;
  color: black;
  font-size: larger;
  font-weight: bolder;
}

#p_contactus {
  padding-bottom: 20px;
}

#tablet_number {
  display: none;
}

header > nav {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#div_indexheader {
  display: grid;
  place-items: center;
  background-color: black;
  justify-content: center;
  align-items: start;
}
#div_indexheader > #img_header {
  width: 45%;
  height: 100%;
  place-items: center;
}

label {
  background-color: black;
}

@media only screen and (min-width: 650px) {
  #menu_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #tablet_number {
    display: block;
  }

  #mobile_number {
    display: none;
  }

  main {
    display: grid;
  }

  .index_imgs {
    max-width: 40vw;
  }

  .menu_img {
    max-width: 420px;
    max-height: 420px;
    -o-object-fit: fill;
       object-fit: fill;
  }

  #index_maincontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #main_img {
    width: 80vw;
  }
}
#hamburger_menu {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  margin-left: 5px;
}

#arrowleft {
  width: 30px;
  height: 30px;
  margin-right: 20vh;
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 17px;
}

.menu_radio_button {
  display: none;
}

#mobile_menu {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: none;
  place-items: center;
  grid-template-rows: 20vh;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.801);
  color: white;
  justify-content: center;
}

#menu_open:checked ~ #mobile_menu {
  display: grid;
}

#menu_header {
  display: grid;
  place-items: center;
  width: 100%;
  height: 20vh;
}

#mobile_header {
  display: grid;
  grid-auto-flow: column;
}

.slide_menu {
  margin: 30px;
  color: white;
}

#section1 {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px;
  margin-bottom: 15vh;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  margin-bottom: 15vh;
  gap: 40px;
}

.menutitle {
  display: grid;
  grid-template-columns: 1fr;
  align-self: end;
  justify-self: center;
  color: white;
  margin: 20px 0px 25px 0;
}

#section2 {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px;
  margin-bottom: 20vh;
}

#section_sides {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px;
  margin-bottom: 20vh;
}

.price {
  margin-bottom: 10px;
}

.food_title {
  margin-top: 35px;
}

.container {
  display: grid;
  place-items: center;
}

.menu_img {
  max-width: 80%;
  height: 25vh;
  align-self: start;
}

p {
  font-size: 0.7em;
}

.food_name {
  margin: 20px 0 10px 0;
}

.food_price {
  margin: 20px 0 80px 0;
  font-weight: bold;
}

.container {
  color: white;
}

.container {
  text-align: center;
}/*# sourceMappingURL=menu.css.map */