@use "../general";
@use "../footer";
@use "../header";

main{
    >nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}