@use "../general";
@use "../footer";
@use "../header";
@use "../tablet";
@use "../mobile";


iframe{
    align-self: center;
    justify-self: center;
    width: 60vw;
    height: 60vh;
    margin: 20px;
}

main{
    display: grid;
    grid-auto-flow: row;
    margin-bottom: 20vh;
    justify-items: center;

    >p{
        color: white; 
         margin: 20px;
         text-align: center;
    }

    >h4{
        color: white;
        text-align: center;
    }
}

#aboutus_h1{
    text-align: center;
    padding: 20px;
    text-decoration: underline;
}

#aboutus_h1{
    color: white;
}

#restautant_interior{
    margin-top: 20vh;
    border-radius: 10%;
    width: 80%;
    
}