@use "../general";
@use "../footer";
@use "../header";




iframe{
    align-self: center;
    justify-self: center;
    width: 60vw;
    height: 60vh;
    margin: 20px;
}

main{
    display: grid;
    grid-auto-flow: row;

    >p{
        color: white; 
         margin: 20px;
    }

    >h4{
        color: white;
        text-align: center;
    }
}

h1{
    text-align: center;
    padding: 20px;
    
}

#aboutus_h1{
    color: white;
}